# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
node_modules

# Build output
out/
dist/
release/

# Editor
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Misc
*.xls
*.xlsx
*.pdf
!src/renderer/public/**/*.xls
